body{
    background-color: rgb(135, 250, 250);
}
.vcenter{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 150px;
    border: black solid 1px;
}


.vcenter{
    width: 10px;
}
