
#contain{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
    flex-flow: row wrap;
    border: 1px solid blue;
    height: 200px;
    width: 500px;
}
#contain div{
    width: 20%;
    border: 1px solid black;
}